<h1>Listing Agenda</h1>

<table border="1" cellspacing="0" cellpadding="3">
  <tr>
    <th>Period</th>
    <th>Event</th>
    <th>Presentation</th>
  </tr>

  <% segment = nil; @agendas.each do |agenda| %>
  <% if segment != agenda.segment; segment = agenda.segment %>
    <tr class="segment"><td colspan="3"><%= segment %></td></tr>
  <% end %>
  <tr style="background-color: <%= cycle('#CCC', '#999') %>">
    <td><%= link_to h("#{agenda.start_time} - #{agenda.end_time}"), edit_admin_agenda_path(agenda) %></td>
    <td><%=h agenda.event %>&nbsp;</td>
    <td><%=h agenda.presentation.try(:title) %>&nbsp;</td>
  </tr>
<% end %>
</table>

<%= link_to "New", new_admin_agenda_path %>