<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "required" %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, :class => "required" %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "required" %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
