<%= f.error_messages %>

<p>
  <%= f.label :name, "Nome" %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :bio, "Mini-currículo <span>(Textile)</span>" %><br />
  <%= f.text_area :bio %>
</p>
<p>
  <%= f.label :presentation, "Titulo da palestra" %><br />
  <%= f.text_field :presentation %>
</p>
<p>
  <%= f.label :description, "Detalhes da palestra <span>(Textile)</span>" %><br />
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :email, "Email" %><br />
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :twitter, "Twitter (sem arroba, e para colocar mais de um, separe com #)" %><br />
  <%= f.text_field :twitter %>
</p>
<p>
  <%= f.label :doc, "Documento" %><br />
  <%= f.text_field :doc%>
</p>
<p>
  <%= f.label :uploaded_data, "Foto" %><br />
  <% unless @speaker.filename.blank? %>
  <%= image_tag @speaker.public_filename, :alt => "Foto de #{@speaker.name}" %> <br />
  <% end %>
  <%= f.file_field :uploaded_data %>
</p>