  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label :presentation %><br />
    <%= f.text_field :presentation %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= @speaker.filename.blank? ? '' : image_tag(@speaker.public_filename) %><br/>
    <%= f.label :photo %>
    <%= f.file_field :uploaded_data %>
  </p>
