<h2>Listing speakers</h2>

<div id="admin-speakers">
  
<% @speakers.each do |speaker| %>
  <div class="admin-speaker-name">
    name: <%= content_tag :strong, h(speaker.name) %>
  </div>
  
  <div class="admin-speaker-presentation">
    presentation: <%= content_tag :strong, h(speaker.presentation) %>
  </div>
  
  <div class="admin-speaker-options">
    <%= link_to 'Edit', edit_admin_speaker_path(speaker) %> | 
    <%= link_to 'Destroy', admin_speaker_path(speaker), :confirm => 'Are you sure?', :method => :delete %>
  </div>

<% end %>

</div>

<br />

<%= link_to 'New speaker', new_admin_speaker_path %>