<% title "Programação", false %>

<div class="box">
  <h2>Programação</h2>
  <p>Segue abaixo nossa agenda:</p>
  <table border="0" cellspacing="0" cellpadding="0" class="agenda">
    <tr class="head">
      <th>Horário</th>
      <th>O que rola?</th>
    </tr>

    <% segment = nil; @agenda.each do |item| %>
    <% if segment != item.segment; segment = item.segment %>
      <tr class="segment"><td colspan="2"><%= segment %></td></tr>
    <% end %>
      <tr class="<%= cycle('odd', 'pair') %>">
        <td><%= item.start_time %> - <%= item.end_time %></td>
        <td>
          <% if item.presentation %>
            <%= link_to what_happen(item.what_happen), presentations_path + "#presentation-#{item.presentation_id}" %>
          <% else %>
            <%= what_happen(item.what_happen) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
