<% title "Programação", false %>

<div class="box">
  <h2>Programação</h2>
  <p>Segue abaixo nossa agenda:</p>
  <% if admin? %><p><%= link_to "Cadastrar item da agenda", new_admin_agenda_url %></p><% end %>

  <table border="0" cellspacing="0" cellpadding="0" class="agenda">
    <tr class="head">
      <th>Horário</th>
      <th>O que rola?</th>
    </tr>
    
    <% @agenda.each_with_index do |item, i| %>
      <tr class="<%= cycle('odd', 'pair') %>">
        <td><%= item.start_time %> - <%= item.end_time %></td>
        <td>
          <%= item.what_happen %> <% if admin? %>(<%= link_to("Editar", edit_admin_agenda_path(item))%> | <%= link_to("Apagar", admin_agenda_path(item), :confirm => "Não tem mais volta. Tem certeza?", :method => "DELETE")%>)<% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <% if admin? %><p><%= link_to "Cadastrar item da agenda", new_admin_agenda_url %></p><% end %>
</div>

<div class="box">
  <h2>Observações</h2>
  <p><strong>* Almoço não incluso, infelizmente... :(</strong></p>
  <p>Em breve, vamos disponiblizar uma lista de restaurantes na região</p>
</div>

