<% title "Palestrantes", false %>

<div class='box'>
  <h2>Palestrantes</h2> 
  <p>Segue abaixo a lista de palestras e detalhes de suas palestras.</p>
</div>

<% @speakers.each do |speaker| %>
<a name="speaker-<%= speaker.id %>"></a>
<div class="box speaker">
  <h2><%= speaker.name -%></h2>
  <% unless speaker.filename.blank? %>
  <%= image_tag speaker.public_filename, :alt => "Foto de #{speaker.name}", :class => cycle("float-left", "float-right") %>
  <% end %>
  <p class="speaker-bio"><%=textilize speaker.bio, :filter_html %></p>
  <h3><%=h speaker.presentation %></h3>
  <p class="speaker-description"><%=textilize speaker.description %></p>
</div>
<% end %>

