<h1>Listing attendees</h1>

<table>
  <tr>
    <th><%= current_admin_attendee_order("Name") %></th>
    <th><%= current_admin_attendee_order("Email") %></th>
    <th><%= current_admin_attendee_order("Doc") %></th>
    <th><%= current_admin_attendee_order("Company") %></th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr>
    <td><%=h attendee.name %></td>
    <td><%=h attendee.email %></td>
    <td><%=h attendee.doc %></td>
    <td><%=h attendee.company %></td>

    <td><%= link_to 'Resend', resend_admin_attendee_path(attendee) %></td>
    <td><%= link_to 'Edit', edit_admin_attendee_path(attendee) %></td>
    <td><%= link_to 'Destroy', admin_attendee_path(attendee), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>