<%= form_for User.new, :as => :user, :url => user_sessions_path do |f| %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit t(".login") %></p>
<% end %>