<% form_for @user_session do |f| %>
  <p>
    <%= f.label :username, "Usuário" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password, "Senha" %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Login" %></p>
<% end %>