<div id="menu">
  <ul id="navigation" class="clearfix">
    <li class="<%= class_selected("pages", "index") %>"><%= link_to "Página inicial", home_path %></li>
    <li class="<%= attendee_class_select %>"><%= link_to "Inscrição", attendees_path %></li>
    <li class="<%= class_selected("pages", "agenda") %>"><%= link_to "Programação", agenda_path %></li>
    <li class="<%= class_selected("pages", "speakers") %>"><%= link_to "Palestrantes", speakers_path %></li>
    <li class="<%= class_selected("pages", "banners") %>"><%= link_to "Divulgar", banners_path %></li>
    <li class="<%= class_selected("pages", "contact") %>"><%= link_to "Contato", contact_path %></li>
  </ul>
</div>
