<div id="menu">
  <ul id="navigation" class="clearfix">
    <li class="<%= class_selected("pages", "index") %>"><%= link_to "Página inicial", home_path %></li>
    <li class="<%= class_selected("pages", "register") %>"><%= link_to "Inscrição", register_path %></li>
    <!-- <li class="<%#= class_selected("speakers", "index") %>"><%#= link_to "Palestrantes", speakers_path %></li> -->
    <li class="<%= class_selected("agenda", "index") %>"><%= link_to "Programação", agenda_path %></li>
    <!-- <li class="<%#= class_selected("pages", "contact") %>"><%#= link_to "Contato", contact_path %></li> -->
    <li class="<%= class_selected("pages", "banners") %>"><%= link_to "Divulgar", banners_path %></li>
  </ul>
</div>
