<div id="menu">
  <ul id="navigation" class="clearfix">
    <li class="<%= class_selected("pages", "index") %>"><%= link_to "Página inicial", home_url %></li>
    <li class="<%= class_selected("pages", "send_presentation") %>"><%= link_to "Quero palestrar", send_presentation_url %></li>
    <li class="<%= class_selected("pages", "contact") %>"><%= link_to "Contato", contact_url %></li>
  </ul>
</div>
