<div id="sidebar" class="clearfix">
  <h3 class="first">Siga-me</h3>
  
  <a href="http://twitter.com/devinsampa" class="twitter" title="Siga-me no twitter">@devinsampa</a>
  
  <div id="juitterContainer"></div>

  <h3>Colabore</h3>
  
  <div id="google-wave">
    <a href="http://bit.ly/devinsampawave" class="wave" title="Dev in Sampa no Google Wave">Dev in Sampa</a>
  </div>

  <h3>Patrocínio</h3>
  
  <div id="aspercom" class="sponsor">
    <%= link_to image_tag("logo_aspercom.png", :alt => "Aspercom"), "http://www.aspercom.com.br", :title => "Aspercom Treinamentos"%>
  </div>
  
  <div id="caelum" class="sponsor">
    <%= link_to image_tag("logo_caelum.png", :alt => "Caelum"), "http://www.caelum.com.br", :title => "Caelum | Ensino e Inovação - Cursos de Java, Scrum, Ruby on Rails, Flex"%>
  </div>
  
  <div id="locaweb" class="sponsor">
    <%= link_to image_tag("logo_locaweb.png", :alt => "Locaweb"), "http://www.locaweb.com.br", :title => "Locaweb - Hospedagem de Sites e Serviços de Internet"%>
  </div>
  
  <h3>Apoio</h3>
  
  <div id="guru-sp" class="supporter">
    <%= link_to image_tag("logo_guru.png", :alt => "Guru-SP"), "http://www.guru-sp.org", :title => "GURU SP - Grupo de Usuários Ruby de SP"%>
  </div>
  
  <div id="ruby-inside-brasil" class="supporter">
    <%= link_to image_tag("logo_rubyinside.png", :alt => "Ruby Inside Brasil"), "http://www.rubyinside.com.br", :title => "Ruby Inside Brasil: Notícias, links, códigos e dicas diárias sobre Ruby"%>
  </div>
  
  <div id="infoq" class="supporter">
    <%= link_to image_tag("logo_infoq.png", :alt => "InfoQ Brasil"), "http://www.infoq.com/br", :title => "InfoQ: Rastreando mudança e inovação na comunidade de desenvolvimento de software corporativo"%>
  </div>
  
  <h3>Idealização</h3>
  
  <ul class="twitter-list">
    <li><a href="http://twitter.com/tinogomes">Celestino Gomes</a></li>
    <li><a href="http://twitter.com/nuxlli">Everton Ribeiro</a></li>
    <li><a href="http://twitter.com/lfcipriani">Luis Cipriani</a></li>
  </ul>
  
  <h3>Divulgue</h3>
  
  <div id="eu-vou-no-twitter">
  	<a href="http://twitter.com/?status=Eu+vou+no+%23devinsampa" title="Divulgue o Dev in Sampa"><%= image_tag 'banner_dev_in_sampa.jpg', :alt => 'Eu vou no #devinsampa' %></a>
  </div>
  
  <div id="validator">
    <div id="validator-html">
      <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.devinsampa.com.br%2F"><img
          src="http://www.w3.org/Icons/valid-xhtml10-blue"
          alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
    </div>
      
    <div id="valitador-css">
      <a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fwww.devinsampa.com.br%2F
      "><img style="border:0;width:88px;height:31px"
              src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
              alt="Valid CSS!" /></a>
    </div>
  </div>
</div>
