<!DOCTYPE html>
<head>
	<%= raw metas_tag %>

  <title><%= ([(title_for_page = yield(:title)).blank? ? nil : title_for_page, "Dev in Sampa"].compact.join(" - ")) %></title>

  <%= stylesheet_link_tag 'application' %>

  <%= csrf_meta_tag %>

  <%= yield(:head) %>
</head>
<body>
  <%= render :partial => "/layouts/noie6" %>

  <%= render :partial => '/layouts/header' %>

  <%= render :partial => '/layouts/menu' %>

  <div id="container" class="clearfix">
    <%= render :partial => '/layouts/content' %>
    <%= render :partial => '/layouts/sidebar' %>
    <%= render :partial => '/layouts/footer' %>
  </div>

  <%= render :partial => '/layouts/analytics' %>

  <%= javascript_include_tag :defaults %>
</body>

</html>